@import url(style.css);

.form-cont{
  width: 30%;
  height: auto;
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--smoke-color);
  box-shadow: .1rem .1rem 2rem .1rem rgba(0, 0, 0, 0.15);
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
form .logo img{
  height: 5rem;
}
form h3 span{
  color: var(--accent-color);
}
.name-input,
.email-input{
  width: 100%;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: .2rem;
}
.name-input label,
.email-input label{
  color: var(--theme-color);
}
.name-input label span,
.email-input label span{
  color: red;
}
.name-input input,
.email-input input{
  border: none;
  outline: none;
  height: 100%;
  padding: 0 .5rem;
}
.selections{
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.selections .services,
.selections .time-of-day{
  outline: none;
  padding: .2rem;
}
form .text-details{
  width: 100%;
  height: 10rem;
}
form .text-details textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: .5rem;
}
form button{
  font-size: 1rem;
  padding: .8rem;
  width: 100%;
  border: none;
  border-radius: .2rem;
  background-color: var(--theme-color);
  color: var(--text-light);
  transition: all .4s;
  cursor: pointer;
}
form button:hover{
  opacity: 0.8;
}
@media (max-width: 1100px) {
  .form-cont{
    width: 40%;
  }
}
@media (max-width: 900px) {
  .form-cont{
    width: 50%;
  }
}
@media (max-width: 600px) {
  .form-cont{
    width: 90%;
  } 
  form .logo{
    text-align: center;
  }
  form .logo img{
    height: 3rem;
    width: 3rem;
  }
}