/* contact section */
@import url(style.css);


  .banner{
    background-image: url(../img/bg/breadcumb-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
  }
  .banner h1{
    font-family: sans-serif;
    font-size: 65px;
    font-weight: bolder;
    color: var(--text-light);
    position: relative;
    top: 120px;
    margin-left: 25px;
  }
  .banner-text{
    margin-top: 150px;
    margin-left: 25px;
  }
  .banner-text span a{
    text-decoration: none;
    color: var(--text-light);
    font-weight: lighter;
    font-size: larger;
  }
  .banner-text i{
    color: white;
  }
  .banner-text .us{
    color: var(--theme-color);
    font-size: larger;
    font-weight: lighter;
  }

   @media (max-width: 600px){
    .banner{
      width: 100%;
      height: 350px;
    }
    .banner h1{
      font-size: 34px;
      top: 135px;
    }
  } 
  @media (max-width: 900px) and (min-width: 601px){
    .banner{
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
    }
    .banner h1{
      font-size: 50px;
      top: 100px;
      padding-left: 50px;
    }
    .banner-text{
     margin-top: 120px;
     padding-left: 45px; 
    }
    
  } 


  /* Information */
  .info-sec{
    margin-top: var(--section-space);
  }
  .Information{
    text-align: center;
  }
  .title-text{
    margin-bottom: calc(var(--section-title-space) - 8px);
    margin-top: -0.18em;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 45px;
  }
  .title-info{
    color: gray;
    font-weight: light;
    text-align: center;
  }
  
  .feature {
    display:grid;
    grid-template-columns: repeat(3,1fr) ;
    justify-items: center;
    gap: 15px;
    margin-top: 60px;
    margin: 20px;
  } 
  .contact-feature:nth-child(4){
    grid-column: 2;
  }
  .contact-feature{
    display: inline-block;
    background-color: var(--text-light);
    padding: 20px 10px 20px 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    transition: all 0.5s;
    width: 100%;
  }
  .contact-feature:hover{
    transform: scale(0.9) translateX(-10px);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
  }
  .media-body {
    display: grid;
    grid-template-columns: auto auto;
  }
   .media-body >span i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    border-radius: 8px;
    text-align: center;
  }
  .media-body >span i.fa-location-dot{
    color: var(--text-light);
    background-color: var(--theme-color);
  }
  .media-body >span i.fa-phone{
    color: var(--text-light);
    background-color: rgb(84, 180, 53);
  }
  .media-body >span i.fa-envelope{
    color: var(--text-light);
    background-color: rgb(0, 21, 36);
  }
   .media-body >b {
    font-size: 20px;
    font-weight: 60px;
    font-family: sans-serif;
    padding-right: 140px;
  }
  .media-body p{
    color: rgb(167, 163, 163);
    font-weight: lighter;
    font-size: 16px;
    margin-top: 8px;
  }
  .media-body a{
    text-decoration: none;
    color: rgb(167, 163, 163);
    font-weight: lighter;
    font-size: 15px;
    margin-top: 20px;
  }
  .media-body a:hover{
    color: var(--theme-color);
    font-size: 17px;
  }
 
  .media-body-1 h3{
    font-size: 20px;
    font-weight: 60px;
    font-family: sans-serif;
  }
  .th-social a {
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    background-color: var(--smoke-color);
    color: var(--title-color);
    font-size: 16px;
    text-align: center;
    margin-right: 5px;
    border-radius: 6px;
    margin-top: 10px;
  }
  .th-social a:last-child {
    margin-right: 0;
  }
  .th-social a:hover {
    background-color: var(--theme-color);
    color: var(--text-light);
  }
  @media(max-width: 600px){
    .info-sec{
      margin-top: 90px;
    }
    .Information{
      text-align: center;
    }
    .title-text{
      font-size: 30px;
    }
    .title-info{
      text-align: center;
      margin-top: -6.1%;
    }
    .feature{
      display: block;
    }
    .contact-feature{
      width: 95%;
      margin: 10px;
    }
    .media-body >b {
      padding-right: 145px;
    }
  }
  @media(max-width: 900px) and (min-width:601px){
    .info-sec{
      margin-top: 90px;
    }
    .Information{
      text-align: center;
    }
    .title-text{
      font-size: 35px;
    }
    .title-info{
      text-align: center;
      margin-top: -2.1%;
    }
    .feature{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
      gap: 10px;
      margin: 80px;
    }
    .contact-feature{
      width: 100%;
    }
    .contact-feature:nth-child(3){
      grid-column: 1;
    }
    .contact-feature:nth-child(4){
      grid-column: 2;
    }
    .media-body>b{
      padding-right: 70px;
    }
    
  }

  /* contact form */
  
  .request-column{
    margin-top: 150px;
  }

  form{
    background-color: var(--form-color);
    width: 95%;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
  }
  form h2{
    text-align: center;
    padding: 30px;
    font-size: 35px;
    font-family: sans-serif;
    color: rgb(0, 21, 36);
  }
  .form-title{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 2rem;
    align-content: center;
  }
  .form-row:nth-child(3){
    grid-column: 1;
  }
  .form-control:nth-child(4){
    grid-column: 2;
  }
  .form-row{
    background-color: var(--text-light);
    border-radius: 6px;
  }
 .form-control {
  height: 56px;
  padding: 0 25px 0 25px;
  padding-right: 45px;
  border: 1px solid transparent;
  background-color: var(--text-light);
  font-size: 16px;
  border-radius: 6px;
  width: 95%;
  font-family: var(--body-font);
  outline: none;
}
.form-row i{
  color:var(--theme-color);
}
.form-row-1{
  background-color: var(--text-light);
  margin-top: 30px;
  border-radius: 6px;
}
.form-row-1 span{
  display: flex;
}
.form-control-1{
  padding: 23px;
  border: 1px solid transparent;
  background-color: var(--text-light);
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  font-family: var(--body-font);
  outline: none;
  height: 150px;
}
.form-row-1 span i{
  color: var(--theme-color);
  padding-top: 25px;
  padding-right: 10px;
}
 
 .submit{
   width: 15%;
   text-align: center;
   margin-top: 40px;
   border: none;
   margin: auto;
}
.submit a{
  display: block;
  text-decoration: none;
  background-color: var(--theme-color);
  color: var(--text-light);
  padding: 20px;
  margin: auto;
  border-radius: 6px;
  margin-top: 30px;
}
  form :hover .submit{
    display: block;
  }
  .submit :hover{
    background-color: var(--title-color);
    color: var(--text-light);
    cursor: pointer;
  }

  @media(max-width: 600px){
    form h2{
      text-align: center;
      padding: 30px;
      font-size: 25px;
      margin-top: -10.2%;
    }
    .form-title{
      display: block;
    }
    .form-row{
      display: flex;
      border: none;
      margin: 20px;
      width: 420px;
    }
    .form-row,
    .form-control{
      margin-left: -15px;

    }
    .form-row i{
      padding-top: 18px;
    }
    .form-row-1{
      width: 420px;
      margin: 10px;
    }
    .form-row-1,
    .form-control-1{
      margin-left: -15px;
    }
    .form-row-1 span i{
      padding-right: 23px;
    }
    .submit{
      width: 50%;
      text-align: center;
      margin-top: 40px;
    }
    
  }
  @media(max-width: 900px) and (min-width:601px){
    form{
      width: 85%;
    }
    form h2{
      text-align: center;
      padding: 30px;
      font-size: 25px;
    
    }
    .form-title{
      display: grid;
      grid-template-columns: repeat(2,2fr);
      align-content: center;
      gap: 2rem;
    }
    .form-row:nth-child(3){
      grid-column: 1;
    }
    .form-control:nth-child(4){
      grid-column: 2;
    }
    .form-control{
      width: 90%;
    }
    .submit{
      width: 25%;
      text-align: center;
      margin-top: 40px;
    }
    
  }

  /* map section  */

  .map{
    margin-top: 150px;
  }
  iframe{
    width: 100%;
    border: none;
    height: 600px;
    z-index: 1;
  }


@media(max-width: 600px){
  .map{
    margin-top: 100px;
  }
  iframe{
    width: 100%;
    height: 300px;
  }
}
@media(max-width: 900px) and (min-width: 601px){
  .map{
    margin-top: 100px;
  }
  iframe{
    width: 100%;
    height: 450px;
  }
}