@import url(style.css);


/* HERO SECTION START */
.hero-banner{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top right, #002253, #14a7cc);
  display: grid;
  place-items: center start;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.hero-intro{
  height: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  z-index: 2;
}
@media (max-width:1200px) {
  .hero-banner{
    grid-template-columns: 1.5fr 1fr;
  }
}
@media (max-width: 900px) {
  .hero-banner{
    place-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .hero-intro{
    padding: 0;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .hero-intro .hero-text{
    width: 50%;
    text-align: center;
  }
  .hero-banner .hero-intro p,
  .hero-banner .hero-intro h3,
  .hero-banner .hero-intro h1{
    font-size: .8rem;
  }
  .hero-banner .hero-intro .hero-text h1{
    font-size: 2rem;
    line-height: normal;
  }
  .hero-banner .hero-intro .hero-text p{
    font-size: 1rem;
    padding: 2rem 0;
  }
  .hero-banner .hero-intro .work-done .counter{
    padding: .5rem;
  }
  .hero-banner .hero-intro .work-done .counter h3{
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .hero-intro{
    padding: 0 2rem;
    place-items: center;
  }
}
.hero-intro p,
.hero-intro h3,
.hero-intro h1{
  color: var(--text-light);
}
.hero-intro .hero-text h1{
  line-height: 3rem;
  font-size: 4rem;
  font-family: league spartan, sans-serif;
}
.hero-intro .hero-text h1 span{
  color: var(--accent-color);
}
.hero-intro .hero-text p{
  font-size: 2rem;
  padding:3rem 0 2rem;
  color: var(--accent-color);
}
.hero-intro .hero-text p::before{
  content: "\f458";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1rem;
}
.hero-intro .work-done{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.hero-intro .work-done .counter{
  padding: 1.5rem;
}
.hero-intro .work-done .counter h3{
  font-size: 3rem;
  font-weight: bolder;
  position: relative;
}
.hero-intro .work-done .counter h3::after{
  content: "\2b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  top: 40%;
}
.hero-intro .work-done .counter:nth-child(1){
  padding-left: 0;
}
.hero-intro .work-done .counter:not(:last-child){
  border-right: .1rem solid var(--hr-color);
}
.hero-intro .cta-btn a button{
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: .3rem;
  color: var(--text-light);
  background-color: var(--theme-color);
  position: relative;
  cursor: pointer;
}
.hero-intro .cta-btn a button::after{
  content: "\f062";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 10%;
  transform: rotate(45deg) translateX(1rem);
}
@media (max-width:900px) {
  .hero-intro .cta-btn a button{
    padding: 1rem 3rem 1rem 2rem;
    font-size: .8rem;
  }
  .hero-intro .cta-btn a button::after{
    top: 20%;
    transform: rotate(45deg) translateX(.5rem);
  }
}
@media (max-width:600px) {
  .hero-intro .cta-btn a button{
    background-color: var(--accent-color)
  }
}
.hero-intro .cta-btn a button::before{
  content: "GET A QUOTE";
  height: 100%;
  width: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--bg-light);
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .2rem;
  transition: all .2s linear;
}
.hero-intro .cta-btn a button:hover::before{
  width: 0%;
  color: var(--text-dark);
  background-color: var(--title-color);
  transition: all 1s;
  animation: btn-animation .3s linear forwards;
}
@keyframes btn-animation {
  0%{
    width: 20%;
    background-color: var(--title-color);
  }
  50%{
    background-color: var(--title-color);
  }
  100%{
    width: 100%;
    background-color: var(--bg-light);
  }
}

.hero-mockup{
  display: grid;
  place-items: end;
}
.hero-mockup img{
  height: 100%;
  width: calc(90% + 1rem);
}
@media (max-width:1200px) {
  .hero-mockup{
    height: 100%;
    place-items: end;
  }
  .hero-mockup img{
    height: 95%;
    width: calc(100% + 10rem);
    z-index: 1;
  }
}
@media (max-width:900px) {
  .hero-mockup{
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .hero-banner .hero-mockup img{
    height: 100%;
    width: 50%;
    z-index: 1;
  }
}
@media (max-width:600px) {
  .hero-mockup{
    width: 50%;
    height: 100%;
    place-items: end center;
  }
  .hero-banner .hero-mockup img{
    height: 100%;
    width: 90%;
    z-index: 1;
  }
}

/* HERO SECTION END */

