@import url(style.css);


/* HERO SECTION START */
.hero-banner{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top right, #002253, #14a7cc);
  display: grid;
  place-items: center start;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.hero-intro{
  height: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start; 
  gap: 2rem;
  z-index: 2;
}
@media (max-width:1200px) {
  .hero-banner{
    grid-template-columns: 1.5fr 1fr;
  }
}
@media (max-width: 1000px) {
  .hero-intro{
    padding: 0 .5rem;
    height: 80%;
  }
}
@media (max-width: 900px) {
  .hero-banner{
    place-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .hero-intro{
    padding: 0;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .hero-intro .hero-text{
    width: 50%;
    text-align: center;
  }
  .hero-banner .hero-intro p,
  .hero-banner .hero-intro h3,
  .hero-banner .hero-intro h1{
    font-size: .8rem;
  }
  .hero-banner .hero-intro .hero-text h1{
    font-size: 2rem;
    line-height: normal;
  }
  .hero-banner .hero-intro .hero-text p{
    font-size: 1rem;
    padding: 2rem 0;
  }
  .hero-banner .hero-intro .work-done .counter{
    padding: .5rem;
  }
  .hero-banner .hero-intro .work-done .counter h3{
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .hero-intro{
    padding: 0 2rem;
    place-items: center;
  }
}
.hero-intro p,
.hero-intro h3,
.hero-intro h1{
  color: var(--text-light);
}
.hero-intro .hero-text h1{
  line-height: 3rem;
  font-size: 4rem;
  font-family: league spartan, sans-serif;
}
.hero-intro .hero-text h1 span{
  color: var(--accent-color);
}
.hero-intro .hero-text p{
  font-size: 2rem;
  padding:3rem 0 2rem;
  color: var(--accent-color);
}
.hero-intro .hero-text p::before{
  content: "\f458";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1rem;
}
.hero-intro .work-done{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.hero-intro .work-done .counter{
  padding: 1.5rem;
}
.hero-intro .work-done .counter h3{
  font-size: 3rem;
  font-weight: bolder;
  position: relative;
}
.hero-intro .work-done .counter h3::after{
  content: "\2b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  top: 40%;
}
.hero-intro .work-done .counter:nth-child(1){
  padding-left: 0;
}
.hero-intro .work-done .counter:not(:last-child){
  border-right: .1rem solid var(--hr-color);
}
.hero-intro .cta-btn a button{
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: .3rem;
  color: var(--text-light);
  background-color: var(--theme-color);
  position: relative;
  cursor: pointer;
}
.hero-intro .cta-btn a button::after{
  content: "\f062";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 10%;
  transform: rotate(45deg) translateX(1rem);
}
@media (max-width:900px) {
  .hero-intro .cta-btn a button{
    padding: 1rem 3rem 1rem 2rem;
    font-size: .8rem;
  }
  .hero-intro .cta-btn a button::after{
    top: 20%;
    transform: rotate(45deg) translateX(.5rem);
  }
}
@media (max-width:600px) {
  .hero-intro .cta-btn a button{
    background-color: var(--accent-color)
  }
}
.hero-intro .cta-btn a button::before{
  content: "GET A QUOTE";
  height: 100%;
  width: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--bg-light);
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .2rem;
  transition: all .2s linear;
}
.hero-intro .cta-btn a button:hover::before{
  width: 0%;
  color: var(--text-dark);
  background-color: var(--title-color);
  transition: all 1s;
  animation: btn-animation .3s linear forwards;
}
@keyframes btn-animation {
  0%{
    width: 20%;
    background-color: var(--title-color);
  }
  50%{
    background-color: var(--title-color);
  }
  100%{
    width: 100%;
    background-color: var(--bg-light);
  }
}

.hero-mockup{
  display: grid;
  place-items: end;
}
.hero-mockup img{
  height: 100%;
  width: calc(90% + 1rem);
}
@media (max-width:1200px) {
  .hero-mockup{
    height: 100%;
    place-items: end;
  }
  .hero-mockup img{
    height: 100%;
    width: calc(100% + 10rem);
    z-index: 1;
  }
}
@media (max-width: 1000px) {
  .hero-mockup{
    height:100%;
    place-items: end;
  }
  .hero-mockup img{
    height: 80%;
    width: calc(100% + 5rem);
    z-index: 1;
  }
}
@media (max-width:900px) {
  .hero-mockup{
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .hero-banner .hero-mockup img{
    height: 100%;
    width: 50%;
    z-index: 1;
  }
}
@media (max-width:600px) {
  .hero-mockup{
    width: 50%;
    height: 100%;
    place-items: end center;
  }
  .hero-banner .hero-mockup img{
    height: 100%;
    width: 90%;
    z-index: 1;
  }
}

/* HERO SECTION END */
/* SERVICES SECTION START */
.home-services{
  width: 100%;
  margin: 5rem 0;
  padding: 2rem;
}
.services-text{
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-text .text{
  width: 50%;
  display: grid;
  place-items: start;
}
.services-text .text p{
  font-size: 2rem;
  color: var(--accent-color);
}
.services-text .text p::before{
  content: "\f458";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1rem;
}
.services-text .text h1{
  font-size: 3.2rem;
}
.services-text .text h1 span{
  color: var(--theme-color);
}
.services-text .carousel-btns{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
  width: 20%;
}
.services-text .carousel-btns button{
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: none;
  color: var(--theme-color);
  background-color: #E5F3FF;
  border-radius: .3rem;
  transition: all .5s;
  cursor: pointer;
}
.services-text .carousel-btns button:hover{
  color: #E5F3FF;
  background-color: var(--theme-color);
}
@media (max-width: 1100px) {
  .services-text .text{
    flex: 1;
  }
  .services-text .carousel-btns{
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .services-text .carousel-btns{
    width: 20%;
  }
}
@media (max-width: 900px) {
  .services-text{
    gap: 2rem;
  }
  .home-services .services-text .text h1{
    width: 90%;
    font-size: 2.5rem;
  }
  .home-services .services-text .text p{
    font-size: 1.5rem;
  }
  .services-text .carousel-btns{
    width: 10%;
  }
}
@media (max-width: 600px) {
  .services-text{
    flex-direction: column;
  }
  .home-services .services-text .text{
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
  }
  .services-text .carousel-btns{
    width: 100%;
    justify-content: center;
  }
}
.services-carousel{
  /* height: auto; */
  /* width: 100%; */
  overflow: hidden;
  /* margin: auto; */
  padding: 1rem 0;
}
.carousel-cont{
  /* width: 100%; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 1rem;
  transition: all .5s linear;
} 

@media (max-width: 900px) {
  .carousel-cont{
    grid-auto-columns: calc((100% / 2) - 12px);
  }
}
@media (max-width: 600px) {
  .carousel-cont{
    grid-auto-columns: calc((100%) - 12px);
  }
}
.services-carousel .carousel-item{
  /* min-width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  box-shadow: .1rem .1rem 1rem var(--shadow-sm);
}

.services-carousel .carousel-item .img{
  width: 100%;
}
.services-carousel .carousel-item .img img{
  width: 100%;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}
.carousel-item .text{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}
.carousel-item .text h3{
  font-size: 1.5rem;
}
.carousel-item .text p{
  font-size: 1rem;
  color: var(--text-grey);
}
.carousel-item .text button{
  padding: 1rem 2.5rem 1rem 1.5rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--theme-color);
  color: var(--text-light);
  transition: all .5s;
  cursor: pointer;
  position: relative;
}
.carousel-item .text button:hover{
  background-color: var(--accent-color);
}
.carousel-item .text button::after{
  content: "\f062";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 25%;
  transform: rotate(45deg) translateX(.5rem);
}

/* HOME ABOUT PAGE START */

.home-about{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .home-about{
    padding: 0 2rem;
    flex-direction: column;
  }
  .home-about .about-mockups{
    min-width: 80%;
  }
  .home-about .about-mockups .mockup-1,
  .home-about .about-mockups .mockup-2{
    min-width: 100%;
    height: 100%;
  }
  .home-about .about-mockups .mockup-1 img{
    width: 100%;
    height: 50%;
  }
  .home-about .about-us{
    min-width: 100%;
  }
}
@media (max-width: 600px) {
  .home-about .about-mockups{
    min-width: 100%;
  }

  .home-about .about-mockups .mockup-2 .mockup img{
    height: 100%;
  }
}

.home-about .about-mockups{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-about .about-mockups .mockup-1{
  height: 50%;
  width: 75%;
  margin: auto;
  border: .2rem dashed var(--theme-color);
  border-radius: .5rem;
}
.home-about .about-mockups .mockup-1 img{
  width: 100%;
  height: 100%;
  border-radius: .2rem;
  transform: translate(-1rem,-1.5rem);
}
.home-about .about-mockups .mockup-2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  height: 50%;
  width: 80%;
  margin: auto;
}
.home-about .about-mockups .mockup-2 .mockup{
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-about .about-mockups .mockup-2 .mockup:not(:first-child){
  border-radius: .5rem;
  border: .2rem dashed color-mix(in hsl longer hue, hsl(200, 70%, 50%) 70%, hsl(340, 70%, 50%) 70%);
}
.home-about .about-mockups .mockup-2 .mockup:not(:first-child) img{
  transform: translate(1rem, -1.5rem);
}
.home-about .about-mockups .mockup-2 .mockup img{
  width: 100%;
  height: 10rem;
  border-radius: .5rem;
}
.home-about .about-us{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  line-height: 3.5rem;
}
.home-about .about-us .title{
  font-size: 2rem;
  color: var(--accent-color);
}
.home-about .about-us .title::before{
  content: "\f458";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1rem;
}
.home-about .about-us .heading{
  font-size: 3rem;
}
.home-about .about-us .heading span{
  color: var(--text-link);
}
.home-about .about-us .about-text{
  font-size: 1.2rem;
  color: var(--text-dark);
  line-height: 2rem;
}
@media (max-width: 900px) {
  .home-about .about-us .heading{
    font-size: 2.5rem;
  }
  .home-about .about-us .title{
    font-size: 1.5rem;
  }

}
.home-about .about-us button{
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: .3rem;
  color: var(--text-light);
  background-color: var(--theme-color);
  position: relative;
  cursor: pointer;
}
.home-about .about-us button::after{
  content: "\f062";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 10%;
  transform: rotate(45deg) translateX(1rem);
}
.home-about .about-us button::before{
  content: "MORE DETAILS \f062";
  height: 100%;
  width: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--bg-light);
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .2rem;
  transition: all .2s linear;
}
.home-about .about-us button:hover::before{
  width: 0%;
  color: var(--text-dark);
  background-color: var(--title-color);
  transition: all 1s;
  animation: about-btn .3s linear forwards;
}
@keyframes about-btn {
  0%{
    width: 20%;
    background-color: var(--title-color);
  }
  50%{
    background-color: var(--title-color);
  }
  100%{
    width: 100%;
    background-color: var(--accent-color);
  }
}

/* ENQUIRY SECTION START */
.enquiry{
  height: 80vh;
  width: 100%;
  background:linear-gradient(to right, rgba(0, 0, 0, 0.5), var(--title-color)), url(../img/mockups/LogoMockupJean-Gleamify.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  text-align: center ;
}

.enquiry p{
  color: var(--text-light);
  font-size: 3rem;
}

.enquiry a button{
  font-size: 1.5rem;
  padding: 1rem 2rem ;
  margin: 1rem 0;
  border-radius: .3rem;
  border: none;
  background-color: var(--theme-color);
  color: var(--text-light);
  cursor: pointer;
}
@media (max-width: 600px) {
  .enquiry p{
    font-size: 1.5rem;
  }
  .enquiry a button{
    font-size: 1rem;
  }
}