@import url(style.css);


.responsive{
    background-image: url(../img/bg/breadcumb-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px 100px 0px;
    width: 100%;
}
.home{
    display: flex;
    font-size: 20px;
}
.service{
    color: white;
    margin-top: 120px;
    margin-left: 30px;
    font-family: sans-serif;
    line-height: 75px;
}
.serv{
    font-size: 35px;
}
.img{
    width: 750px;
}
.box4{
    margin: -20px;
    border-radius: 10px;
 }
 .box5{
    border-radius: 10px;
 }
 .box6{
    margin-top: 40px;
    line-height: 30px;
 }
 .div{
    display: flex;
    margin-top: 50px;
 }
 .box{
    padding: 0px 0px 60px 0px; 
}
.expert{
    display: flex;
    gap: 0.5rem;
    margin: 40px 20px 40px 0px;
}
.expert1{
    background-color: rgb(241, 241, 241);
    padding: 20px 20px 20px 10px;
    border-radius: 10px;
}
.ul{
    list-style: none;
    line-height: 35px;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 10px;
}
.good{
    border-radius: 10px;
    color: blue;
}
.list{
    display: flex;
    gap: 3rem;
    margin-top: 30px;
}
.cleaners{
    width: 350px;
    border-radius: 10px;
}
.details{
    width: 850px;
    border-radius: 20px;
}
.offer{
    margin-top: 20px;
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border-radius: 10px;
    box-shadow: -0.5px 0 10px rgb(231, 250, 255);
    font-family: sans-serif;
    line-height: 30px;
}
.box1{
    margin: 20px 10px 20px 10px;
}
.search{
    padding: 25px 60px 25px 60px;
    margin-bottom: 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.Search{
    padding: 20px 60px 20px 60px;
    border: none;
    outline: 0.7px solid rgb(0, 153, 255);
    border-radius: 5px;
    
}
.want{
    margin-top: 30px;
    padding: 17px;
    margin: 10px 30px 10px 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: -0.5px 0 10px rgb(223, 224, 224);
}
.want:hover{
    background-color: rgb(245, 245, 245);
     box-shadow: -5px 0  0px  rgb(0, 153, 255);
     transform: scale(0.98);
     transition-duration: 0.7s;
     color: rgb(0, 153, 255);
}
.Categories{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin-bottom: 90px;
    padding-bottom: 40px;
}
.cat{
    padding: 40px;
}
.widget{
    margin-top: 50px;
    position: relative;
    text-align: center;
   
}
.text-container{
    position: absolute;
    left: 20%;
    top: 70%;
    color: white;
    font-family: sans-serif;
    line-height: 20px;
}
.need{
    margin: 10px;
}
.support{
    margin: 10px;
}
.office{
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px 30px 30px 1px;
}
.maintain{
   line-height: 30px;
}
.Benefits{
    font-size: 20px;
    margin: 30px 30px 30px 0px;
}
.arrow{
    margin-left: 130px;
}
.arrow1{
    margin-left: 165px;
}
.arrow2{
    margin-left: 145px;
}
.arrow3{
    margin-left: 147px;
}
.arrow4{
    margin-left: 150px;
}
.arrow5{
    margin-left: 170px;
}
.arrow6{
    margin-left:  160px;
}
.are{
    line-height: 30px;
    margin: 30px 30px 30px 0px;
    
}
.weare{
    font-size: 30px;
    margin: 30px 30px 30px 0px;
    font-family: sans-serif;
}
.ptag{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(141, 139, 139);
}
.band{
    margin-left: 20px;
    border-radius: 10px;
}
.how{
    margin: 20px 20px 20px 0px;
}
@media (max-width: 600px) {
    .serv{
       font-size: 25px;
    }
    .home{
       font-size: 17px;
    }
    .details{
        width: 490px;
        margin: 10px;
    }
    .div{
        display: grid;
        margin-top: 50px 100px 50px 100px;
    }
    .cleaners{
        width: 450px;
    }
    .ul{
        font-size: 17px;
        margin: 15px;
        margin-top: -10px;
    }
    .box{
        justify-content: space-around;
    }
    .expert{
        display: grid;
    }
    .list{
        display: grid;
        margin: 14px;
    }
    .weare{
        font-size: 24px;
        margin: 15px;
    }
    .how{
        font-size: 17px;
    }
    .offer{
        justify-content: center;
        padding: 10px 10px 10px 30px;
        margin: 17px 20px 17px 20px;
        font-size: 15px;
    }
    .search{
        margin: 17px 20px 17px 20px;;
    }
    .want{
        padding: 17px;
        margin: 10px 20px 10px 20px;
    }
    .Categories{
        margin: 17px 25px 17px 25px;
    }
    .band{
        width: 450px;
        margin: 10px;
    }
    .office{
        font-size: 17px;
        margin: 15px;
    }
    .maintain{
        margin: 15px;
    }
    .expert1{
        display: flex;
        padding: 10px 170px 10px 30px;
        margin: 16px;
    }
    .expert2{
        display: flex;
        padding: 10px 170px 10px 30px;
        margin: 16px;
    }
    .expert3{
        display: flex;
        padding: 10px 170px 10px 30px;
        margin: 16px;
    }
    .member{
        padding: 4px;
        margin-top: -4px;
    }
    .ptag{
        margin: 15px;
    }
    .Benefits{
        margin: 50px 17px 20px 17px ;
        font-size: 17px;
    }
    .arrow{
        margin-left: 170px;
    }
    .arrow1{
        margin-left: 200px;
    }
    .arrow2{
        margin-left: 180px;
    }
    .arrow3{
        margin-left: 185px;
    }
    .arrow4{
        margin-left: 190px;
    }
    .arrow5{
        margin-left: 210px;
    }
    .arrow6{
        margin-left:  200px;
    }
    .responsive{
        background-position: absolute;
    }
}
@media (min-width: 601px) {
        .serv{
           font-size: 40px;
        }
        .home{
           font-size: 20px;
        }
        .details{
            width: 600px;
            margin: 30px 100px 30px 70px;
        }
        .div{
            display: grid;
            margin: 50px 30px 30px -30px;
        }
        .cleaners{
            width: 500px;
            margin:  -20px 60px 30px 40px;
        }
        .ul{
            font-size: 17px;
            margin-top: -10px;
            margin: -40px 60px 30px 60px;
        }
        .box{
            justify-content: space-around;
        }
        .expert{
            display: grid;
            grid-template-areas: 
            "expert1 expert2"
            "expert3 expert2";
            margin: 30px 130px 30px 60px;
        }
        .list{
            display: grid;
            margin: 20px;
        }
        .weare{
            font-size: 25px;
            margin:  -30px 60px 30px 60px;
        }
        .how{
            font-size: 20px;
        }
        .how{
            font-size: 15px;
            
        }
        .offer{
            font-size: 12px;
            justify-content: center;
            padding: 10px -20px 10px 30px;
            margin: 30px 130px 30px 60px;
        }
        .search{
            margin: 20px 100px 20px 50px;
        }
        .want{
            padding: 17px;
            margin: 10px 50px 10px 50px;
        }
        .Categories{
            margin: 30px 100px 30px 50px;
            padding: 10px;
            /* margin: 100px; */
        }
        .band{
            width: 400px;
            justify-content: space-around;
        }
        .office{
            font-size: 20px;
            margin: 30px 60px 30px 60px;
        }
        .maintain{
            margin: 15px;
        }
        .expert1{
            display: grid;
            padding: 10px 50px 10px 20px;
        }
        .member{
            padding: 4px;
            margin-top: -4px;
        }
        .ptag{
            font-size: 19.5px;
            margin:  30px 60px 30px 60px;
        }
        .Benefits{
            margin: 30px 60px 30px 60px;
            font-size: 15px;
        }
        .cat{
            margin: -20px;
        }
        .are{
            margin: 30px 130px 30px 20px;
        }
        .box1{
            margin: 50px;
        }
}
@media (min-width: 768px) {
    .serv{
        font-size: 40px;
     }
     .home{
        font-size: 20px;
     }
     .details{
         width: 730px;
         margin: 30px 70px 30px 70px;
     }
     .div{
         display: grid;
         margin: 50px px 30px px;
     }
     .cleaners{
         width: 400px;
         margin:  40px 20px 20px 40px;
     }
     .ul{
         font-size: 18px;
         margin: 40px 5px 30px -20px;
     }
     .box{
         justify-content: space-around;
     }
     .expert{
         display: grid;
         grid-template-areas: 
         "expert1 expert2 expert3";
     }
     .list{
         display: flex;
         margin: 30px;
     }
     .weare{
         font-size: 25px;
         margin:  30px 60px 30px 60px;
     }
     .how{
         font-size: 20px;
     }
     .offer{
        font-size: 20px;
         justify-content: center;
         padding: 10px 20px 10px 30px;
         margin: 30px 100px 30px 50px ;
     }
     .search{
         margin: 30px 150px 30px 150px;
     }
     .want{
         padding: 17px;
         margin: 10px 30px 10px 30px;
     }
     .Categories{
         margin: 30px 150px 30px 150px;
         padding: 20px;
     }
     .band{
         width: 450px;
         margin: 10px;
         justify-content: space-around;
     }
     .office{
         font-size: 20px;
         margin: 30px 60px 30px 60px;
     }
     .maintain{
         margin: 15px;
     }
     .expert1{
         display: grid;
         padding: 20px 0px 20px 20px;
     }
     .member{
         padding: 4px;
         margin-top: -4px;
     }
     .ptag{
         margin:  30px 60px 30px 60px;
     }
     .Benefits{
         margin: 30px 60px 30px 60px;
         font-size: 15px;
     }
     .cat{
         margin: -20px;
     }
     .are{
         margin: 20px 120px -20px 0px;
     }
     .arrow{
        margin-left: 305px;
    }
    .arrow1{
        margin-left: 340px;
    }
    .arrow2{
        margin-left: 320px;
    }
    .arrow3{
        margin-left: 325px;
    }
    .arrow4{
        margin-left: 330px;
    }
    .arrow5{
        margin-left: 350px;
    }
    .arrow6{
        margin-left:  340px;
    }
}
@media (min-width: 998px) {
    .div{
        display: grid;
        margin-top: 50px;
    }
    .Benefits{
        /* margin: 30px 60px 30px 60px; */
        font-size: 15px;  
    }
    .weare{
        font-size: 20px;
        /* margin:  30px 60px 30px 60px; */
    }
    .cleaners{
        width: 390px;
        /* margin:  -20px 5px 5px -5px; */
    }
    .details{
        width: 540px;
        margin: 30px 60px 30px 60px;
    }
    .Categories{
      margin: 30px 100px 30px 50px;
      padding: 0px;
      border-radius: 10px;
      padding-bottom: 50px;
    }
    .ul{
        font-size: 17px;
    }
    .search{
       margin: 30px 100px 30px 50px;
    }
    .band{
        margin: 30px 150px 30px 10px;
    }
    .list{
        margin: 45px;
    }
    .box1{
        padding: 10px -20px 0px 10px;
        margin: 40px;
    }

}
@media (min-width: 1232px) {
    .div{
        display: flex;
        margin-top: 50px;
    }
    .cleaners{
        width: 251px;
        /* margin:  -20px 5px 5px -5px; */
    }
    .ul{
        font-size: 15px;
    }
    .box1{
        margin-top: -10px;
    }
    .band{
        margin: 50px 100px 0px 100px;
    }
}